# Cython generation:
*.cpp
*.so
*.o
*.c
*.html
celer.egg-info/*
.eggs/*
build/*

# Python precompilation
*pyc

# wheel
*.whl
.egg/* 

# cache
.pytest_cache/*

doc/*
coverage/*
.coverage

.DS_Store
MANIFEST
