# Cython generation:
*.cpp
*.so
*.o
*.c
*.html
celer.egg-info
.eggs

# Python precompilation
*pyc
*pyd

# build
build

# generated doc
doc/_build/
doc/auto_examples/
doc/generated

# cache
.pytest_cache
__pycache__


coverage/*
.coverage

.DS_Store
MANIFEST
