name: build-many-linux-wheels

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  ml-wheels:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Build source dist
        run: |
          pwd
          python setup.py sdist

      - name: Build manylinux Python wheels
        uses: RalfG/python-wheels-manylinux-build@v0.4.2-manylinux2014_x86_64
        with:
          python-versions: 'cp37-cp37m'
          build-requirements: 'cython numpy scipy libsvmdata scikit-learn xarray download'

      - name: publish to Test PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: |
          pip install twine
          twine upload --repository testpypi dist/*-manylinux*.whl dist/*.tar.gz